<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{% block title %} Online Transaction Page {% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <!--Header comes here-->
        <nav >
            <h4 class="appname"><ul>TRAVEL PLANNER</ul></h4>
                <ul class="nav-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/pyt">PlanYourTrip</a></li>
                    <li><a href="">ContactUs</a></li>
                </ul>
        </nav>
    </div>
        <!--Main body comes here-->
    <div class = "container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

<!-- jQuery (Bootstrap JS plugins depend on it) -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>